{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title |e }}</h1>

<hr>
{% set shifts2 = frappe.get_list("Schedule Shift", filters={"clinic": doc.name}, fields=["starttime","endtime", "title", "clinic"])%}
<p>The variable is: {{ shifts2 }}</p>


<hr>
<a href="/clinics" class="btn btn-primary"> List Clinics</a>
<hr>

<p><strong>Address: </strong></p>
<p>{{doc.address}}</p>
<hr>

<p><strong>Contact Information: </strong></p>
<p>{{doc.contact_number}}</p>
<hr>

{%set doctor = frappe.get_doc("Doctor", doc.doctor)%}
<p><strong>Doctor's Name: </strong></p>
<p>{{doctor.full_name}}</p>
<p>{{doctor.qualification}}, {{doctor.speciality}}</p>
<hr>




{% set shifts = frappe.get_doc("Doctor", doc.doctor)%}
<p><strong>Doctor's Availability: </strong></p>
{% for shift in shifts2%}
    <h6>Shift: <pre class="">{{shift.title}}</pre></h6>
    <p>From 
        <strong>{{shift.starttime}}</strong>  to 
        <strong>{{shift.endtime}}</strong>
    </p>
    <hr>
{% endfor %}


<a href="/book-appointment/new?clinic={{doc.name}}" class="btn btn-info"> Book Appointmentt</a>
{% endblock %}

<!-- this is a sample default web page template -->